
        <main>
            <div id="main-inner">
                <div class="search-area search-result-area">
                    <h2 id="search-title">ユーザー検索</h2>
                    <div id="keyword-search-area">
                        <%= form_with url: users_search_path, method: :get, local: true ,id:"search-form" do |form| %>
                            <%= text_field_tag :search,"",{id:"sbox1"} %>
                            <%= submit_tag '検索', :name => nil ,id:"sbtn1"%>
                        <% end %>

                    </div>
                </div>
            </div>
        </main>
